/* Es 1 */
.ex-1-square {
 transition: background 5s;
}
.ex-1-square:hover{
background: red;
}

/* es 2 */

.ex-2-square {
  transition: 5s;
}
.ex-2-square:active {
  width: 100%;
}

/* es 3 */

.ex-3-square {
  transition: 3s;
}
.ex-3-square:hover {
  border-radius: 50%;
}

/* es 4 */

.ex-4-square {
  transition: 3s;
}
.ex-4-square:hover {
  opacity: 0;
}

/* es 5 */

.ex-5-square {
  transition: 3s;
}
.ex-5-square:hover {
  width: 80px;
  height: 80px;
}
.ex-5-square:active {
  width: 40px;
  height: 40px;
}

/* es 6 filter */
.ex-6-img:hover {
  filter: grayscale(1);
}

/* es 7 filter */
.ex-7-img: {
  transition: 10s;
}
.ex-7-img:hover {
  filter: grayscale(1) blur(5px)
}
